.page-offset {
    padding-top: 100px; /* Espacement pour éviter la superposition */
  }
  
  .avis-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .avis-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .avis-form {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: darkgray;
  }
  
  .avis-subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .avis-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .avis-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  