.footer-container {
    background-color: #f3f3f3;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:gray;
  }
  
  .footer-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .footer-links a {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: rgb(199, 172, 113);
  }
  